.App {
  padding: 25px;
}

body {
  font-family: "open sans", sans-serif;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  border-bottom: 2px solid #000;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}

button {
  font-size: 16px;
  margin-left: 10px;
  height: 25px;
  height: 30px;
  background-color: #76b947;
  border-radius: 10px;
  border: none;
}
